<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/by/titolo"><p>Inserimento Titotlo</p></a>
    <a href="/by/genere"><p>Inserimento Genere/p></a>
    <a href="/by/tendina"><p>Genere Tendina</p></a>
    <a href="/by/radio"><p>Genere Radio</p></a>
    <a href="/by/checkbox"><p>Genere Checkbox</p></a>
    <a href="/by/budget"><p>Budget Sconosciuto</p></a>   
</body>
</html>